$color-primary: #f77308;
$color-blue: #269dff;
$color-red: #d80d0d;
$color-green: #169916;
$color-purple: #730cb8;
$color-cleaner: #b50000;
$color-white: #ffffff;
$color-grey: #b3b3b3;
$color-grey-dark: #4b4b4b;
$color-dark: #333333;
