@import "./sass/Variables.scss";

@mixin transition() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html,
body,
#root,
.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  background: url("./images/space.jpg") no-repeat center;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-bar {
  display: flex;
  align-items: center;
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
  width: 100%;
  height: 22px;
  position: absolute;
  top: 0px;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  .buttons {
    background: $color-white;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-left: 7px;
    cursor: pointer;

    &:first-child {
      background: $color-red;
      color: #750a0a;
      font-size: 13px;
      text-align: center;
      line-height: 10px;
      &:hover {
        &::after {
          content: "x";
        }
      }
    }
    &:last-child {
      background: #ffd208;
      color: #a18401;
      font-size: 20px;
      text-align: center;
      line-height: 10px;
      &:hover {
        &::after {
          content: "-";
        }
      }
    }
  }
}

.space {
  width: 550px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .toolbar {
    background: rgba(0, 0, 0, 0.7);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5em 0;
    box-sizing: border-box;
    border-radius: 15px;
    backdrop-filter: blur(10px) brightness(110%);

    .start {
      background: $color-red;
      color: $color-white;
      display: flex;
      height: 45px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 0;
      padding: 0.5rem 1rem;
      font-weight: bold;
      font-size: 1.3rem;
      overflow: hidden;
      border-radius: 10px;
      cursor: pointer;
      @include transition();

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover {
        box-shadow: 0 0 20px $color-red;
      }

      &.ativo {
        background: $color-white;
        @include transition();

        &:hover {
          box-shadow: 0 0 0 transparent;
        }

        > span {
          color: $color-red;
          position: relative;
          top: -32px;
          @include transition();
        }
      }

      &:focus {
        outline: none;
      }

      span {
        display: flex;
        height: 100%;
        padding: 0.2rem 0;
        position: relative;
        top: 0px;
        @include transition();
      }
    }

    h3 {
      color: $color-white;
    }

    .btn-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .btn {
        background: $color-white;
        color: $color-dark;
        border: 0;
        padding: 0.3rem 0.5rem;
        margin: 0 0.5rem;
        font-weight: 700;
        font-size: 0.9rem;
        border-radius: 8px;
        cursor: pointer;
        @include transition();

        &:focus {
          outline: none;
        }

        &.ativo {
          background: $color-primary;
          color: $color-white;
          box-shadow: 0 0px 20px $color-primary;

          @include transition();
        }

        &:hover {
          background: $color-primary;
          color: $color-white;

          @include transition();
        }

        &.blue {
          &.ativo {
            background: $color-blue;
            box-shadow: 0 0px 20px $color-blue;
          }

          &:hover {
            background: $color-blue;
            color: $color-white;
          }
        }

        &.green {
          &.ativo {
            background: $color-green;
            box-shadow: 0 0px 20px $color-green;
          }

          &:hover {
            background: $color-green;
            color: $color-white;
          }
        }

        &.purple {
          &.ativo {
            background: $color-purple;
            box-shadow: 0 0px 20px $color-purple;
          }

          &:hover {
            background: $color-purple;
            color: $color-white;
          }
        }
      }
    }
  }
}
